<p>This is a "TPL VIEW sample" using <a href="http://nextware.es">TIMPLE v. 1.00</a></p>
<p><b>{upper}¿WHAT IS TIMPLE?{/upper}</b></p>
<p>Timple is a very easy to use PHP TPL parser engine with a good speed performance.</p>
<p><b>{upper}¿WE HAVE SOME EXAMPLES?{/upper}</b></p>
<p>You can convert text to {upper}uPpErCaSe{/upper}, {lower}lOwErCaSe{/lower} or "{trim}   trim spaces   {/trim}".</p>
<p>You can use PHP variables such as $name => {$name}.</p>
<p>You can use some PHP functions such as:</p>
<p>* IF: {if date('N') == 0 OR date('N') == 6} today is a weekend day {else} today isn't a weekend day {/if}</p>
<p>* FOR: {for $n=1;$n<10;$n++}$n={$n}, {/for}
<p>Also, {php} print "you can insert PHP code in your TPL if you want"; {/php},</p>
<p>and many others functions...</p>